@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #0f172a;
  color-scheme: light;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-secondary), sans-serif;
}
